html {
    background-color: black;
}
body {
    color:aliceblue;
    text-align:center;
  }
h1, h2, h3, h4, h5, h6, p{
    color: white;
    text-align: center;
  }
img {
    width:500;
    height:100;
}
a {
    color: aliceblue;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  border-style: outset;
  width: auto;
  padding: 5px;
}
caption {
  font-weight: bold;
  font-size: 18.72px;
}