html {
    background-color: black;
}

body {
    color:aliceblue;
    text-align: center;
    list-style-position: inside;
  }

h1, h2, h3, h4, h5, h6, p{
    color: white;
  }

img {
    width:500;
    height:100;
    margin-left: auto;
    margin-right: auto;
}

p.oneline {
  margin-top: 3px;
  margin-bottom: 18px;
}

p.top {
  margin-top: 3px;
  margin-bottom: 3px;
}

p.middle {
  margin-top: 3px;
  margin-bottom: 3px;
}

p.bottom {
  margin-top: 3px;
  margin-bottom: 18px;
}

p.last {
  margin-top: 3px;
  margin-bottom: 0px;
}

.secondary {
  font-size: 20px;
}

a {
    color: aliceblue;
}

.red-box {
  width: fit-content; 
  height: auto; 
  background-color:rgb(139, 15, 15); 
  border-radius: 50px; 
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
  text-align: center;
}

.border-less {
  border: none;
}

caption {
  font-weight: bold;
  font-size: 18.72px;
}


.image {
  width: auto;
  height: auto;
  min-width: 300px;
  max-width: 800 px;
  min-height: 300px;
  max-height: 800px;
}


.title {
  text-align: center;

  background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, lime, 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
  background-size: 20vw 20vw;

  -webkit-text-fill-color: transparent;
  background-clip: text; /* Standard property */
  -webkit-background-clip: text; /* WebKit browsers */

  animation: slide 1s linear infinite;
}

@keyframes slide {
  from {
    background-position-x: 0%;
  }

  to {
    background-position-x: 20vw;
  }
}